@import 'normal';

.justelo-theme:extend(.normal-theme all) {
  --auto-width: 120px;
  .widget {
    padding: 8px 10px !important;

    .level {
      align-items: center;
      flex: 1;

      svg {
        @size: 35px;
        width: @size !important;
        height: @size !important;
        margin-right: 12px;
      }

      .elo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        .ranking{
            display: none;
        }
        h2 {
          display: none;
        }

        h2,
        p {
          font-size: 1.2em !important;
          font-weight: bold;
        }
      }
    }

    .matches {
        display: none;
    }

    .player-stats {
      .stat {
        @size: 30px;
        border-radius: 8px;

        width: @size;
        height: @size;

        p {
          font-weight: normal;
          font-size: 0.8em;
        }
      }
    }

    .progress-bar {
        display: none;
    }

    .average .stat {
        display: none;
    }

    border-radius: 12px;
  }
}
